*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, rgb(243, 117, 58), rgb(61, 122, 227));
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.heading{
display: flex;
justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}
.main{
    height: 100%;
    width: 100%;
}
.tage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.mainanimation{
    display: flex;
    height: 30vh;
    width: 100%;
    margin-bottom: 5vh;
    justify-content: space-around;
}
.animation1{
    display: flex;
    height: 100%;
    width: 100%;
    animation-name: animationDiv1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
 
}
@keyframes animationDiv1 {
    0%{
        transform: translate(-100vw);}
    100%{
        transform: translate(100vw);} 
}



img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
   
}

.ancor{
    display: grid;

    grid-template-columns: repeat(6,2fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2px;
}
button{
    border-radius: 5px;
}
button:hover{
    background-color: rgb(108, 80, 229);
    scale: 1.1;
    border-radius: 5px;
    color:aliceblue;
}
a{
    color: black;
    font-size: x-large;

}
.Resistition{
    color: rgb(23, 34, 198);
}
.footer{
    height: 40vh;
    width: 100%;
    background-color: rgb(51, 46, 46);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media (max-width:1000px) {
    .ancor{
        grid-template-columns: repeat(4,2fr);
        grid-template-rows: repeat(2,1fr); 
    }
}
@media (max-width:450px) {
    .ancor{
        grid-template-columns: repeat(3,2fr);
        grid-template-rows: repeat(2,1fr); 
    }
}