*{
    margin: 0;
    padding: 0;
}
 #cantainer{
    display: flex;
    flex-direction:column ;
    align-items: center;
    background-color: aqua;
}

#Side{
    background-color: aqua;
    border: 1mm groove rgb(109, 109, 227);
    width: 50%;
    display: flex;
    justify-content: center;
}